<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Approval page</title>
    <link rel="stylesheet" href="/admin/css/ApplyReq.css">
    <link rel="stylesheet" href="/icons/iconsRoot.css" />

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/solid.css">

</head>

<body>
    <!-- ///// nav  -->
        <div id="flashMsg">
            <p id="text"></p>
        </div>
        <!-- ////Main Content -->
        <div class="infoBox">
            <% if(ps_data.length>0){ %>
                <% ps_data.forEach(function(data){ %>
            <div class="patientInfo" clientId='<%= data.id %>''>
                <div class="psNum">
                    <span class="uil uil-user-square"></span>
                    <span><%= data.id %></span>
                </div>
        
                <div class="psDetail">
                    <h4><%= data.p_name %></h4>
                    <p><%= data.p_number %></p>
                    <p><%= data.p_doctor %></p>
                    <p>
                        <span>Add. Info:</span>
                        <%= data.p_OthInfo %>
                    </p>
                    <p>
                        <span>DOA:</span>
                        <%= data.p_OthInfo %>
                    </p>
                </div>
        
                <div class="psAction">
                    <a onclick="userReq.Acpt(this)" class="done"><i class="uil uil-check"></i>Accept</a>
                    <a onclick="userReq.rejt(this)" class="cancel"><i class="uil uil-trash-alt"></i>Reject</a>
                </div>
            </div>
            <% }) %>
        <% } else { %>
         <h2 data-val="nl" class="efont"> No Data Available !!!</h2> 
          <% } %> 
        </div>

<script src="/admin/js/script.js"></script>

</body>

</html>